<h1>Anúncios</h1>
<%= link_to 'Novo Anúncio', new_ad_path, :class => "btn btn-success" %>
<br><br>

<table class="table">
  <thead>
  <tr>
    <th>Título</th>
    <th>Descrição</th>
    <th>Preço</th>
    <th>Situação</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @ads.each do |ad| %>
    <tr>
      <td><%= ad.title %></td>
      <td><%= truncate(ad.description, length:50) %></td>
      <td><%= ad.price %></td>
      <td><%= ad.status %></td>
      <td>
        <div class="btn-group">
          <%= link_to 'Mostrar', ad, :class => "btn btn-info" %></button>
          <%= link_to 'Editar', edit_ad_path(ad), :class => "btn btn-warning" %>
          <%= link_to 'Excluir', ad, :class => "btn btn-danger", method: :delete, data: {confirm: 'Are you sure?'} %></button>
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
