<div class="col-md-3">

<% @ad.images.each do |img| %>
  <%= image_tag (img.thumb.url) unless img.file.nil? %>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @ad.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ad.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @ad.price %>
</p>

<p>
  <strong>Status:</strong>
  <%= @ad.status %>
</p>

  <%= link_to 'Editar', edit_ad_path(@ad), :class => "btn btn-warning" %>
  <%= link_to 'Voltar', ads_path, :class => "btn btn-primary" %>
</div>